@model IEnumerable<AIMS.Data.DataObjects.Entities.Exco.Exco>
@using AIMS.Data.Enums.Enums.NotificationType
@using AIMS.Data.Enums.Enums.Post
@using System.ComponentModel;
@using Microsoft.AspNet.Identity;
@using SAAS_AIMS.Models
@{
    TypeConverter converter = TypeDescriptor.GetConverter(typeof(Post));
    ViewBag.Title = TempData["sess"] + " Excos";
    Layout = "~/Views/Shared/_ExcoLayout.cshtml";
    var id = User.Identity.GetUserId();
    AppUserDataContext _context = new AppUserDataContext();
    var user = _context.Users.Find(id);
    var role = user.Role;
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@TempData["sess"] Excos </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content table-responsive">

                        @if (TempData["Success"] != null)
                        {
                            if (TempData["NotificationType"] == NotificationType.Create.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Edit.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Delete.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                        }

                        @if (role.CanManageExecutives)
                        {
                            <div class="pull-right">
                                <a class="btn btn-info btn-sm" data-modal="" href="@Url.Action("Create", "Exco", new { sessionid = Convert.ToInt64(Session["sessionid"] )})"><i class="fa fa-plus"></i> Add Exco</a><br />
                            </div>   
                        }

                        <table id="datatable-buttons" class="grid table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Matric. No.</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Post</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var exco in Model)
                                {
                                    <tr>
                                        <td>@exco.MatricNo</td>
                                        <td>@exco.LastName</td>
                                        <td>@exco.FirstName</td>
                                        <td>@converter.ConvertToString(exco.Post)</td>
                                        <td>
                                            @if (role.CanManageExecutives)
                                            {
                                                <a class="btn btn-xs btn-default" data-modal="" href="@Url.Action("Edit", "Exco", new { id = exco.ID })"><i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-xs btn-danger delete" href="@Url.Action("Delete", "Exco", new { id = exco.ID })"><i class="fa fa-remove"></i> Delete</a>   
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @if (role.CanManageExecutives)
                        {
                            <!-- modal placeholder-->
                            <div id='myModal' class='modal fade in'>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div id='myModalContent'></div>
                                    </div>
                                </div>
                            </div>
                        }
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/modal.js"></script>
    <script type="text/javascript" src="~/Scripts/delete.js"></script>
}
