@model AIMS.Data.DataObjects.Entities.Project.Project
@using AIMS.Services.EnumDropDownList

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_MemoLayout.cshtml";
}


<style>
    #form {
        width: 50%;
        margin: 0 auto;
        float: none;
    }
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Create Project Entry</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div>
                        <a class="btn btn-info btn-sm" href="@Url.Action("Index", "Project", new { sessionid = Convert.ToInt64(Session["sessionid"]) })"><i class="fa fa-arrow-left"></i> Return to Project Entry List</a><br />
                    </div>
                    <div class="x_content">
                        @using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("FileUpload")

                            <fieldset>
                                <div class="fa-blink"> <strong>Note:</strong> These are the supported file formats: Pdf, Docx, Doc, Rtf and Txt </div>
                            </fieldset><br />

                            <div class="col-sm-4">
                                <label for="title" class="control-label"> Title </label>
                                @Html.TextBoxFor(model => Model.Title, new { @class = "form-control required", @id = "title" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="desc" class="control-label"> Description </label>
                                @Html.TextAreaFor(model => Model.Description, new { @class = "form-control", @id = "desc" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="file" class="control-label"> Upload project file </label>
                                <div>
                                    <input type="file" name="file" id="file" style="width: 100%;" />
                                </div>
                            </div>

                            <div class="pull-right">
                                <br /><br />
                                <input class="btn btn-primary btn-raised pull-right" type="submit" value="Save" />
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("form").removeData("validator");
        $("form").removeData("unobtrusiveValidation");
        $.validator.unobtrusive.parse("form");
    </script>
}