@model IEnumerable<AIMS.Data.DataObjects.Entities.Project.Project>
@using AIMS.Data.Enums.Enums.NotificationType
@using AIMS.Data.Enums.Enums.UploadType
@using Microsoft.AspNet.Identity
@using SAAS_AIMS.Models

@{
    ViewBag.Title = TempData["sess"] + "Projects";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var id = User.Identity.GetUserId();
    AppUserDataContext _context = new AppUserDataContext();
    var user = _context.Users.Find(id);
    var role = user.Role;
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@TempData["sess"] Projects </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content table-responsive">

                        @if (TempData["Success"] != null)
                        {
                            if (TempData["NotificationType"] == NotificationType.Create.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Edit.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Delete.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                        }
                        @if (role.CanManageProjects)
                        {
                            <div class="pull-right">
                                <a class="btn btn-info btn-sm" href="@Url.Action("Create", "Project", new { sessionid = Convert.ToInt64(Session["sessionid"] )})"><i class="fa fa-plus"></i> Add Project Entry</a><br />
                            </div>    
                        }
                        
                        <table id="datatable-buttons" class="grid table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        <td>@project.Title</td>
                                        <td>@project.Description</td>
                                        <td>
                                            @if (role.CanManageProjects)
                                            {
                                                <a class="btn btn-xs btn-default" href="@Url.Action("Edit", "Project", new { id = project.ID })"><i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-xs btn-danger delete" href="@Url.Action("Delete", "Project", new { id = project.ID})"><i class="fa fa-remove"></i> Delete</a>   
                                            }
                                            @if (project.FileUpload != null)
                                            {
                                                <a class="btn btn-xs btn-warning" href="../../UploadedFiles/@UploadType.Projects.ToString()/@project.FileUpload" target="_self"><i class="fa fa-files-o"></i> View Project File</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/delete.js"></script>
}
