@model IEnumerable<AIMS.Data.DataObjects.Entities.Income.IncomeItem>
@using AIMS.Data.Enums.Enums.NotificationType
@using AIMS.Data.DataContext.DataContext.IncomeDataContext
@using Microsoft.AspNet.Identity
@using SAAS_AIMS.Models
@{
    ViewBag.Title = TempData["category"] + " Items";
    Layout = "~/Views/Shared/_IncomeItemLayout.cshtml";
    var _context = new IncomeDataContext();
    var _category = Convert.ToInt64(Session["categoryid"]);
    var total = _context.IncomeItem.Where(s => s.IncomeCategoryID == _category).Sum(s => (Decimal?)s.Amount) ?? 0;
    var id = User.Identity.GetUserId();
    AppUserDataContext _db = new AppUserDataContext();
    var user = _db.Users.Find(id);
    var role = user.Role;
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@TempData["category"] Items </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content table-responsive">

                        @if (TempData["Success"] != null)
                        {
                            if (TempData["NotificationType"] == NotificationType.Create.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Edit.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Delete.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                        }

                        @if (role.CanManageIncome)
                        {
                            <div class="pull-right">
                                <a class="btn btn-info btn-sm" data-modal="" href="@Url.Action("Create", "IncomeItem")"><i class="fa fa-plus"></i> Add Income Item</a><br />
                            </div>    
                        }
                        
                        <table id="datatable-buttons" class="grid table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>N @item.Amount.ToString("#,##")</td>
                                        <td>
                                            @if (role.CanManageIncome)
                                            {
                                                <a class="btn btn-xs btn-default" data-modal="" href="@Url.Action("Edit", "IncomeItem", new { id = item.ID })"><i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-xs btn-danger delete" href="@Url.Action("Delete", "IncomeItem", new { id = item.ID})"><i class="fa fa-remove"></i> Delete</a>   
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tr style="background-color:cadetblue; color:white;">
                                <td> Total</td>
                                <td>N @total.ToString("#,##")</td>
                                <td></td>
                            </tr>
                        </table>

                        @if (role.CanManageIncome)
                        {
                            <!-- modal placeholder-->
                            <div id='myModal' class='modal fade in'>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div id='myModalContent'></div>
                                    </div>
                                </div>
                            </div>   
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/delete.js"></script>
    <script type="text/javascript" src="~/Scripts/modal.js"></script>
}
