@model AIMS.Data.DataObjects.Entities.Session.Session
@using AIMS.Data.DataContext.DataContext.SessionDataContext

@{
    SessionDataContext _context = new SessionDataContext();
    ViewBag.Title = "Session Statistics";
    Layout = "~/Views/Shared/_SessionDetailsLayout.cshtml";
    var sessionid = Convert.ToInt64(Session["sessionid"]);
    var sessionname = _context.Sessions.Find(sessionid).Title;
}

<div class="right_col" role="main">
    <div class="heading">
        <span class="btn-lg btn-round btn-dark pull-right"><strong>@sessionname</strong></span>
    </div><div class="clearfix"></div>
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Events</span>
            <div class="count"><small>@ViewBag.Event</small></div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Meetings</span>
            <div class="count"><small>@ViewBag.Meeting</small></div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Projects</span>
            <div class="count"><small>@ViewBag.Project</small></div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Income</span>
            <div class="count"><small><small><small>@ViewBag.Income.ToString("#,##")</small></small></small></div>
            <span class="count_bottom"><i class="green"> (Naira)</i></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Expense</span>
            <div class="count"><small><small><small>@ViewBag.Expense.ToString("#,##")</small></small></small></div>
            <span class="count_bottom"><i class="green"> (Naira)</i></span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Balance</span>
            <div class="count"><small><small><small>@ViewBag.Balance.ToString("#,##")</small></small></small></div>
            <span class="count_bottom"><i class="green"> (Naira)</i></span>
        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Income vs Expense <small>Analysis</small></h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="fa fa-calendar"></i>
                            <span>This Session</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="incomevsrev" class="container">
                        @if (ViewBag.Income == 0 && ViewBag.Expense == 0)
                        {
                            <span id="emptygraph" class="text-center text-capitalize" style="font-size: large;">Nothing to display yet.</span>
                        }
                        else
                        {
                            <canvas id="incexp" width="1600" height="900"></canvas>   
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>Income Breakdown</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (ViewBag.Income == 0)
                    {
                        <span id="emptygraph" class="text-center text-capitalize" style="font-size: large;">Nothing to display yet.</span>
                    }
                    else
                    {
                        <div id="incomepie" style="height:100%; width:100%; margin: 15px 10px 10px 0"></div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile ">
                <div class="x_title">
                    <h2>Expense Breakdown</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @if (ViewBag.Expense == 0)
                    {
                        <span id="emptygraph" class="text-center text-capitalize" style="font-size: large;">Nothing to display yet.</span>
                    }
                    else
                    {
                        <div id="expensepie" style="height:100%; width:100%; margin: 15px 10px 10px 0"></div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
@section Scripts
{    
    <script type="text/javascript">
        var ctx = document.getElementById('incexp').getContext('2d');
        var dataChart = {
            labels: ['@sessionname'],
            datasets: [
                {
                    label: "Income",
                    backgroundColor: "cadetblue",
                    fill: false,
                    borderColor: "rgba(220,220,220,0.7)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(42,63,84,1)",
                    hoverBorderColor: "rgba(151,187,205,0.5)",
                    data: [@ViewBag.Income]
                },
                {
                    label: "Expense",
                    backgroundColor: "grey",
                    fill: false,
                    borderColor: "rgba(151,187,205,0.7)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(42,63,84,1)",
                    hoverBorderColor: "rgba(151,187,205,0.5)",
                    data: [@ViewBag.Expense]
                },
                {
                    label: "Margin",
                    backgroundColor: "beige",
                    fill: false,
                    borderColor: "rgba(151,187,205,0.7)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(42,63,84,1)",
                    hoverBorderColor: "rgba(151,187,205,0.5)",
                    data: [@ViewBag.Balance]
                }
            ]
        };

            var incexp = new Chart(ctx, {
                type: 'bar',
                data: dataChart,
                options:
                    {
                        responsive: true,
                        maintainAspectRatio: true,
                        scales:
                        {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true,
                                    userCallback: function (value) {
                                        value = value.toString();
                                        value = value.split(/(?=(?:...)*$)/);
                                        value = value.join(',');
                                        return 'N ' + value;
                                    }
                                }
                            }]
                        }
                    }
            });
    </script>

    <script>
        Morris.Donut({
            element: 'incomepie',
            data: income(),
            colors: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
            ]
        });

        function income() {
            var data = [];
            $.ajax({
                type: 'GET',
                url: '/SessionDetails/Income?sessionid=@sessionid',
                dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (result) {
                    console.log(result);
                    data = result;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

            return data;
        }

        @*$.getJSON("/SessionDetails/Income?sessionid=@sessionid", function (data) {
                console.log("data:", data);
                $.each(data, function (i, item) {
                    new Morris.Donut({
                        element: 'incomepie',
                        data: [{label:item.category, value:item.amount}]
                    });
                })
        });*@
    </script>

    <script>
        Morris.Donut({
            element: 'expensepie',
            data: expense(),
            colors: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
            ]
        });

        function expense() {
            var data = [];
            $.ajax({
                type: 'GET',
                url: '/SessionDetails/Expense?sessionid=@sessionid',
                dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (result) {
                    console.log(result);
                    data = result;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

            return data;
        }
    </script>
}   