@using Microsoft.AspNet.Identity

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="~/template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- JQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/template/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="~/template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Custom Theme Style -->
    <link href="~/template/build/css/custom.min.css" rel="stylesheet">

    <title>BHUNACOSS AIMS | @ViewBag.Title</title>
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title text-center"><span>BHU NACOSS</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_info text-center">
                            <span>Welcome,</span>
                            <h2 class="text-center">@User.Identity.Name</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <hr />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-arrow-left"></i> Return to Dashboard</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Session")"><i class="fa fa-calendar active"></i> Sessions </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <div class="sidebar-footer hidden-small">

                            @Html.AntiForgeryToken()
                            <a data-toggle="tooltip" data-placement="top" title="Manage Account" href="@Url.Action("Manage", "Account")">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                    }
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-user"></i><span> </span> @User.Identity.Name
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li><a href="@Url.Action("Manage", "Account")"> Manage Account </a></li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    BHUNACOSS - Association Information Management System by <a href="https://twitter.com/Overrideveloper">Override</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/template/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- JQuery UI-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- FastClick -->
    <script src="~/template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/template/vendors/nprogress/nprogress.js"></script>

    <!-- Datatables -->
    <script src="~/template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/template/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/template/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/template/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/template/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/template/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/template/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/template/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/template/vendors/pdfmake/build/vfs_fonts.js"></script>
    
    <!-- Bootbox -->
    <script src="~/Scripts/bootbox.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/template/build/js/custom.min.js"></script>
    @RenderSection("scripts", false);
</body>
</html>
