@model IEnumerable<AIMS.Data.DataObjects.Entities.Meeting.Meeting>
@using AIMS.Data.Enums.Enums.NotificationType
@using AIMS.Data.Enums.Enums.UploadType
@using AIMS.Data.DataContext.DataContext.SessionDataContext
@{
    SessionDataContext _sessiondatacontext = new SessionDataContext();
    var session = _sessiondatacontext.Sessions.Find(Convert.ToInt64(Session["sessionid"]));
    ViewBag.Title = @session.Title.ToString() + " Meetings";
    Layout = "~/Views/Shared/_MeetingLayout.cshtml";
}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@session.Title.ToString() Meetings </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">

                        @if (TempData["Success"] != null)
                        {
                            if (TempData["NotificationType"] == NotificationType.Create.ToString())
                            {
                                <div class="alert alert-success alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Edit.ToString())
                            {
                                <div class="alert alert-info alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                            if (TempData["NotificationType"] == NotificationType.Delete.ToString())
                            {
                                <div class="alert alert-warning alert-dismissible fadeIn fadeOut out fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    @TempData["Success"]
                                </div>
                            }
                        }

                        <div class="pull-right">
                            <a class="btn btn-info btn-sm" href="@Url.Action("Create", "Meeting", new { sessionid = Convert.ToInt64(Session["sessionid"] )})"><i class="fa fa-plus"></i> Add Meeting Entry</a><br />
                        </div>

                        <table id="datatable-buttons" class="grid table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Venue</th>
                                    <th>Semester</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var meeting in Model)
                                {
                                    <tr>
                                        <td>@meeting.Title</td>
                                        <td>@meeting.Venue</td>
                                        <td>@meeting.Semester</td>
                                        <td>@meeting.Date.ToLongDateString()</td>
                                        <td>
                                            <a class="btn btn-xs btn-default" href="@Url.Action("Edit", "Meeting", new { id = meeting.ID })"><i class="fa fa-pencil"></i> Edit</a>
                                            <a class="btn btn-xs btn-danger delete" href="@Url.Action("Delete", "Meeting", new { id = meeting.ID})"><i class="fa fa-remove"></i> Delete</a>
                                            @if (meeting.FileUpload != null) 
                                            {
                                            <a class="btn btn-xs btn-warning" href="../../UploadedFiles/@UploadType.Minutes.ToString()/@meeting.FileUpload" target="_self"><i class="fa fa-files-o"></i> View Minutes</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/delete.js"></script>
}
