@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count" id="stats">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> Total Members</span>
            <div class="count green" id="members">@ViewBag.Members</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-male"></i> Total Males</span>
            <div class="count" id="male">@ViewBag.Male</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-female"></i> Total Females</span>
            <div class="count green" id="female">@ViewBag.Female</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> New Members (Total) </span>
            <div class="count" id="membercurrent">@ViewBag.MemberCurrent</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> This year: @DateTime.Now.Year </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-male"></i> New Members (Male) </span>
            <div class="count" id="malecurrent">@ViewBag.MaleCurrent</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> This year: @DateTime.Now.Year </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-female"></i> New Members (Female) </span>
            <div class="count" id="femalecurrent">@ViewBag.FemaleCurrent</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> This year: @DateTime.Now.Year </span>
        </div>
    </div>
    <!-- /top tiles -->

    <!-- Chart -->
    <div class="row">
        <div class="col-md-10">
            <canvas id="memberChart" width="800" height="400"></canvas>
            <div id="legendChart" class="chart-legend"></div>
        </div>
    </div>
</div>

@section Scripts{
    
    @*<script type="text/javascript">
        var ctx = document.getElementById("memberChart").getContext("2d");

        var dataChart = {
            labels: [],
            datasets: [
                {
                    label: "Male",
                    backgroundColor: "rgba(215,220,67,0.3)",
                    borderColor: "rgba(220,220,220,0.7)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(42,63,84,1)",
                    hoverBorderColor: "rgba(151,187,205,0.5)",
                    data: []
                },
                {
                    label: "Female",
                    backgroundColor: "rgba(90,193,208,0.3)",
                    borderColor: "rgba(151,187,205,0.7)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(42,63,84,1)",
                    hoverBorderColor: "rgba(151,187,205,0.5)",
                    data: []
                }
            ]
        };

        $.ajax({
            type: 'GET',
            url: '/Dashboard/MemberData',
            datatype: 'json',
            traditional: true,
            contentType: "application/json",
            cache: false,
            success: function (data) {
                for (var i = 0; i <= data.mem.length-1; i++) {
                    console.log(data.mem[i].Male);  
                    dataChart.labels.push(data.mem[i].Year);
                    dataChart.datasets[0].data.push(data.mem[i].Male);
                    dataChart.datasets[1].data.push(data.mem[i].Female);
                }
            },
            error: function (session) {
                alert('error');
            }
        });

        var memberBarChart = new Chart(ctx, {
            type: 'bar',
            data: dataChart,
            options: {}
        });

    </script>*@
}