@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewBag.Title = "Dashboard";
}

<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count" id="stats">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> Total Members</span>
            <div class="count green" id="members"><small><small><small>@ViewBag.Members</small></small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-male"></i> Total Males</span>
            <div class="count" id="male"><small><small><small>@ViewBag.Male</small></small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-female"></i> Total Females</span>
            <div class="count green" id="female"><small><small><small>@ViewBag.Female</small></small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-calendar-check-o"></i> Sessions  </span>
            <div class="count" id="sessions"><small><small>@if(@ViewBag.Session != 0){<small>@ViewBag.Session</small>}else{<small>0</small>}</small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-briefcase"></i> Total Income </span>
            <div class="count" id="income"><small><small>@if(@ViewBag.Income != 0){<small>N @ViewBag.Income.ToString("#,##")</small>}else{<small>N 0</small>}</small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> All-Time </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-shopping-cart"></i> Total Expense </span>
            <div class="count" id="expense"><small><small>@if (@ViewBag.Expense != 0){<small>N @ViewBag.Expense.ToString("#,##")</small>}else{<small>N 0</small>}</small></small></div>
            <span class="count_bottom"><i class="green"><i class="fa fa-calendar-check-o"></i></i> All-Time </span>
        </div>
    </div>
    <!-- /top tiles -->

    <!-- Chart -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Income vs Expense <small>Analysis</small></h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="fa fa-calendar"></i>
                            <span> All Time</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="incomevsrev" class="container">
                        @if (ViewBag.Income == 0 && ViewBag.Expense == 0)
                        {
                            <span id="emptygraph" class="text-center text-capitalize" style="font-size: large;">Nothing to display yet.</span>
                        }
                        else
                        {
                            <div id="incexp"></div>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />
</div>

@section Scripts{
    <script type="text/javascript">
        Morris.Bar({
            element: 'incexp',
            data: financeSummary(),
            xkey: 'y',
            ykeys: ['a', 'b', 'c'],
            labels: ['Income', 'Expense', 'Margin'],
            colors: [
                "cadetblue",
                "grey",
                "beige"
            ]
        });

        function financeSummary() {
            var data = [];
            $.ajax({
                type: 'GET',
                url: '/Dashboard/FinanceSummary/',
                dataType: 'json',
                async: false,
                contentType: "application/json; charset=utf-8",
                data: {},
                success: function (result) {
                    console.log(result);
                    data = result;
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

            return data;
        }
    </script>   
}