@model AIMS.Data.DataObjects.Entities.Session.Session

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Edit Academic Session</h3>
</div>


@using (Html.BeginForm("Edit", "Session", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    @Html.HiddenFor(model => Model.CreatedBy)
    @Html.HiddenFor(model => Model.DateCreated)
    @Html.HiddenFor(model => Model.DateLastModified)
    @Html.HiddenFor(model => Model.LastModifiedBy)
    
    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                <label for="title" class="control-label col-sm-3"> Title </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => Model.Title, new { @class = "form-control required", @id = "title" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="start" class="control-label col-sm-3"> Start Date </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control border-input required", @id = "start", @type = "datetime" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.StartDate)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="end" class="control-label col-sm-3"> End Date </label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.EndDate, "{0:dd/MMM/yyyy}", new { @class = "form-control border-input required", @id = "end", @type = "datetime" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display:none">
            <strong>Processing..</strong>
        </span>

        <input class="btn btn-primary btn-raised" type="submit" value="Save" />
        <button class="btn btn-danger" data-dismiss="modal"> Close </button>
    </div>
}

<script>
    $("form").removeData("validator");
    $("form").removeData("unobtrusiveValidation");
    $.validator.unobtrusive.parse("form");
</script>
<script>
    $(function () {
        $('input[type=datetime]').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true
        });
    });
</script>

