@model SAAS_AIMS.Models.RegisterViewModel
@using SAAS_AIMS.Models

@{
    var context = new AppUserDataContext();
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Register";
}

@if (context.Users.ToArray().Length == 0) 
{ 
    using (Html.BeginForm("FirstRegistration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Title")    
    <h1>Admin Registration</h1>
        @Html.ValidationSummary()
    <div>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder="Email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder="Password", @type = "password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder="Confirm Password", @type = "password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
        
    <div class="col-md-offset-3">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>

    <div class="clearfix"></div>

    <div class="separator">
        <div class="clearfix"></div>
        <br />

        <div>
            <img src="~/content/override.png" width="200" height="100" alt="Override" />
            <p>&copy; @DateTime.Now.Year Override. All Rights Reserved.</p>
        </div>
    </div>
    }
}
else
{
  <div class="separator">
        <p class="change_link">Already have an acccount ?
            <a href="@Url.Action("Login", "Account")"> Log in </a>
        </p>

        <div class="clearfix"></div>
        <br />

        <div>
            <img src="~/content/override.png" width="200" height="100" alt="Override" />
            <p>&copy; @DateTime.Now.Year Override. All Rights Reserved.</p>
        </div>
    </div>  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
